@charset "UTF-8";

/**
 * @author Yoann Bélanger - yoann.belanger@hotmail.com
*/

/**
 * ------------------
 * TABLE DES MATIÈRES
 * ------------------
 * Librairies
 * Utilitaires
 * Base
 * Modules
 * Grille
 */

/****** Librairies ******/
@import "../../../node_modules/normalize.scss/normalize";
@import "../../../node_modules/susy/sass/susy";
@import "../../../node_modules/susy/sass/plugins/svg-grid";

/**** Utilitaires ****/
@import "utilitaires/variables";
@import "utilitaires/mixins";

/****** Base ******/
@import "base/general";
@import "base/typo";
@import "base/boutons";
@import "base/icones";
@import "base/pagination";
@import "base/hyperliens";

/****** Modules ******/

/****** Pages ******/
@import "pages/listeLivres";
@import "pages/accueil";
@import "pages/ajoutPanier";
@import "pages/connexion";
@import "pages/creerCompte";
@import "pages/confirmation";
@import "pages/ficheArtiste";
@import "pages/ficheLivre";
@import "pages/listeAuteurs";
@import "pages/validationCommande";
@import "pages/panier";
@import "pages/livraison";
@import "pages/facturation";

/****** Grille ******/
@import "grille/main";
@import "grille/entete";
@import "grille/pied";

/****** Icones ******/

html {
  margin: 0 auto;
  padding: 0;
}

.id {
  //display: none;
}

body {
  background-color: $fondBody;
}